trunk/jabaws/webservices/compbio/ws/server/resource/JronnWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<definitions targetNamespace="http://msa.data.compbio/01/12/2010/" name="JronnWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://msa.data.compbio/01/12/2010/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://msa.data.compbio/01/12/2010/" schemaLocation="JronnWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="customAnalize">
    <part name="parameters" element="tns:customAnalize"/>
  </message>
  <message name="customAnalizeResponse">
    <part name="parameters" element="tns:customAnalizeResponse"/>
  </message>
  <message name="UnsupportedRuntimeException">
    <part name="fault" element="tns:UnsupportedRuntimeException"/>
  </message>
  <message name="LimitExceededException">
    <part name="fault" element="tns:LimitExceededException"/>
  </message>
  <message name="JobSubmissionException">
    <part name="fault" element="tns:JobSubmissionException"/>
  </message>
  <message name="WrongParameterException">
    <part name="fault" element="tns:WrongParameterException"/>
  </message>
  <message name="analize">
    <part name="parameters" element="tns:analize"/>
  </message>
  <message name="analizeResponse">
    <part name="parameters" element="tns:analizeResponse"/>
  </message>
  <message name="presetAnalize">
    <part name="parameters" element="tns:presetAnalize"/>
  </message>
  <message name="presetAnalizeResponse">
    <part name="parameters" element="tns:presetAnalizeResponse"/>
  </message>
  <message name="getAnnotation">
    <part name="parameters" element="tns:getAnnotation"/>
  </message>
  <message name="getAnnotationResponse">
    <part name="parameters" element="tns:getAnnotationResponse"/>
  </message>
  <message name="ResultNotAvailableException">
    <part name="fault" element="tns:ResultNotAvailableException"/>
  </message>
  <message name="cancelJob">
    <part name="parameters" element="tns:cancelJob"/>
  </message>
  <message name="cancelJobResponse">
    <part name="parameters" element="tns:cancelJobResponse"/>
  </message>
  <message name="pullExecStatistics">
    <part name="parameters" element="tns:pullExecStatistics"/>
  </message>
  <message name="pullExecStatisticsResponse">
    <part name="parameters" element="tns:pullExecStatisticsResponse"/>
  </message>
  <message name="getJobStatus">
    <part name="parameters" element="tns:getJobStatus"/>
  </message>
  <message name="getJobStatusResponse">
    <part name="parameters" element="tns:getJobStatusResponse"/>
  </message>
  <message name="getLimit">
    <part name="parameters" element="tns:getLimit"/>
  </message>
  <message name="getLimitResponse">
    <part name="parameters" element="tns:getLimitResponse"/>
  </message>
  <message name="getLimits">
    <part name="parameters" element="tns:getLimits"/>
  </message>
  <message name="getLimitsResponse">
    <part name="parameters" element="tns:getLimitsResponse"/>
  </message>
  <message name="getPresets">
    <part name="parameters" element="tns:getPresets"/>
  </message>
  <message name="getPresetsResponse">
    <part name="parameters" element="tns:getPresetsResponse"/>
  </message>
  <message name="getRunnerOptions">
    <part name="parameters" element="tns:getRunnerOptions"/>
  </message>
  <message name="getRunnerOptionsResponse">
    <part name="parameters" element="tns:getRunnerOptionsResponse"/>
  </message>
  <portType name="SequenceAnnotation">
    <operation name="customAnalize">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/customAnalizeRequest" message="tns:customAnalize"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/customAnalizeResponse" message="tns:customAnalizeResponse"/>
      <fault message="tns:UnsupportedRuntimeException" name="UnsupportedRuntimeException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/customAnalize/Fault/UnsupportedRuntimeException"/>
      <fault message="tns:LimitExceededException" name="LimitExceededException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/customAnalize/Fault/LimitExceededException"/>
      <fault message="tns:JobSubmissionException" name="JobSubmissionException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/customAnalize/Fault/JobSubmissionException"/>
      <fault message="tns:WrongParameterException" name="WrongParameterException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/customAnalize/Fault/WrongParameterException"/>
    </operation>
    <operation name="analize">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/analizeRequest" message="tns:analize"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/analizeResponse" message="tns:analizeResponse"/>
      <fault message="tns:UnsupportedRuntimeException" name="UnsupportedRuntimeException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/analize/Fault/UnsupportedRuntimeException"/>
      <fault message="tns:LimitExceededException" name="LimitExceededException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/analize/Fault/LimitExceededException"/>
      <fault message="tns:JobSubmissionException" name="JobSubmissionException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/analize/Fault/JobSubmissionException"/>
    </operation>
    <operation name="presetAnalize">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/presetAnalizeRequest" message="tns:presetAnalize"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/presetAnalizeResponse" message="tns:presetAnalizeResponse"/>
      <fault message="tns:UnsupportedRuntimeException" name="UnsupportedRuntimeException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/presetAnalize/Fault/UnsupportedRuntimeException"/>
      <fault message="tns:LimitExceededException" name="LimitExceededException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/presetAnalize/Fault/LimitExceededException"/>
      <fault message="tns:JobSubmissionException" name="JobSubmissionException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/presetAnalize/Fault/JobSubmissionException"/>
      <fault message="tns:WrongParameterException" name="WrongParameterException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/presetAnalize/Fault/WrongParameterException"/>
    </operation>
    <operation name="getAnnotation">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getAnnotationRequest" message="tns:getAnnotation"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getAnnotationResponse" message="tns:getAnnotationResponse"/>
      <fault message="tns:ResultNotAvailableException" name="ResultNotAvailableException" wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getAnnotation/Fault/ResultNotAvailableException"/>
    </operation>
    <operation name="cancelJob">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/cancelJobRequest" message="tns:cancelJob"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/cancelJobResponse" message="tns:cancelJobResponse"/>
    </operation>
    <operation name="pullExecStatistics">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/pullExecStatisticsRequest" message="tns:pullExecStatistics"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/pullExecStatisticsResponse" message="tns:pullExecStatisticsResponse"/>
    </operation>
    <operation name="getJobStatus">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getJobStatusRequest" message="tns:getJobStatus"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getJobStatusResponse" message="tns:getJobStatusResponse"/>
    </operation>
    <operation name="getLimit">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getLimitRequest" message="tns:getLimit"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getLimitResponse" message="tns:getLimitResponse"/>
    </operation>
    <operation name="getLimits">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getLimitsRequest" message="tns:getLimits"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getLimitsResponse" message="tns:getLimitsResponse"/>
    </operation>
    <operation name="getPresets">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getPresetsRequest" message="tns:getPresets"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getPresetsResponse" message="tns:getPresetsResponse"/>
    </operation>
    <operation name="getRunnerOptions">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getRunnerOptionsRequest" message="tns:getRunnerOptions"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/SequenceAnnotation/getRunnerOptionsResponse" message="tns:getRunnerOptionsResponse"/>
    </operation>
  </portType>
  <binding name="JronnWSPortBinding" type="tns:SequenceAnnotation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="customAnalize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UnsupportedRuntimeException">
        <soap:fault name="UnsupportedRuntimeException" use="literal"/>
      </fault>
      <fault name="LimitExceededException">
        <soap:fault name="LimitExceededException" use="literal"/>
      </fault>
      <fault name="JobSubmissionException">
        <soap:fault name="JobSubmissionException" use="literal"/>
      </fault>
      <fault name="WrongParameterException">
        <soap:fault name="WrongParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="analize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UnsupportedRuntimeException">
        <soap:fault name="UnsupportedRuntimeException" use="literal"/>
      </fault>
      <fault name="LimitExceededException">
        <soap:fault name="LimitExceededException" use="literal"/>
      </fault>
      <fault name="JobSubmissionException">
        <soap:fault name="JobSubmissionException" use="literal"/>
      </fault>
    </operation>
    <operation name="presetAnalize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UnsupportedRuntimeException">
        <soap:fault name="UnsupportedRuntimeException" use="literal"/>
      </fault>
      <fault name="LimitExceededException">
        <soap:fault name="LimitExceededException" use="literal"/>
      </fault>
      <fault name="JobSubmissionException">
        <soap:fault name="JobSubmissionException" use="literal"/>
      </fault>
      <fault name="WrongParameterException">
        <soap:fault name="WrongParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAnnotation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ResultNotAvailableException">
        <soap:fault name="ResultNotAvailableException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelJob">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pullExecStatistics">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getJobStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLimit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLimits">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPresets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRunnerOptions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="JronnWS">
    <port name="JronnWSPort" binding="tns:JronnWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

