jabaws/webservices/compbio/ws/server/resource/ClustalWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<definitions targetNamespace="http://msa.data.compbio/01/01/2010/" name="ClustalWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://msa.data.compbio/01/01/2010/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://msa.data.compbio/01/01/2010/" schemaLocation="ClustalWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getResult">
    <part name="parameters" element="tns:getResult"/>
  </message>
  <message name="getResultResponse">
    <part name="parameters" element="tns:getResultResponse"/>
  </message>
  <message name="ResultNotAvailableException">
    <part name="fault" element="tns:ResultNotAvailableException"/>
  </message>
  <message name="presetAlign">
    <part name="parameters" element="tns:presetAlign"/>
  </message>
  <message name="presetAlignResponse">
    <part name="parameters" element="tns:presetAlignResponse"/>
  </message>
  <message name="UnsupportedRuntimeException">
    <part name="fault" element="tns:UnsupportedRuntimeException"/>
  </message>
  <message name="LimitExceededException">
    <part name="fault" element="tns:LimitExceededException"/>
  </message>
  <message name="JobSubmissionException">
    <part name="fault" element="tns:JobSubmissionException"/>
  </message>
  <message name="WrongParameterException">
    <part name="fault" element="tns:WrongParameterException"/>
  </message>
  <message name="customAlign">
    <part name="parameters" element="tns:customAlign"/>
  </message>
  <message name="customAlignResponse">
    <part name="parameters" element="tns:customAlignResponse"/>
  </message>
  <message name="align">
    <part name="parameters" element="tns:align"/>
  </message>
  <message name="alignResponse">
    <part name="parameters" element="tns:alignResponse"/>
  </message>
  <message name="cancelJob">
    <part name="parameters" element="tns:cancelJob"/>
  </message>
  <message name="cancelJobResponse">
    <part name="parameters" element="tns:cancelJobResponse"/>
  </message>
  <message name="pullExecStatistics">
    <part name="parameters" element="tns:pullExecStatistics"/>
  </message>
  <message name="pullExecStatisticsResponse">
    <part name="parameters" element="tns:pullExecStatisticsResponse"/>
  </message>
  <message name="getJobStatus">
    <part name="parameters" element="tns:getJobStatus"/>
  </message>
  <message name="getJobStatusResponse">
    <part name="parameters" element="tns:getJobStatusResponse"/>
  </message>
  <message name="getLimit">
    <part name="parameters" element="tns:getLimit"/>
  </message>
  <message name="getLimitResponse">
    <part name="parameters" element="tns:getLimitResponse"/>
  </message>
  <message name="getLimits">
    <part name="parameters" element="tns:getLimits"/>
  </message>
  <message name="getLimitsResponse">
    <part name="parameters" element="tns:getLimitsResponse"/>
  </message>
  <message name="getPresets">
    <part name="parameters" element="tns:getPresets"/>
  </message>
  <message name="getPresetsResponse">
    <part name="parameters" element="tns:getPresetsResponse"/>
  </message>
  <message name="getRunnerOptions">
    <part name="parameters" element="tns:getRunnerOptions"/>
  </message>
  <message name="getRunnerOptionsResponse">
    <part name="parameters" element="tns:getRunnerOptionsResponse"/>
  </message>
  <portType name="MsaWS">
    <operation name="getResult">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getResultRequest" message="tns:getResult"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getResultResponse" message="tns:getResultResponse"/>
      <fault message="tns:ResultNotAvailableException" name="ResultNotAvailableException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getResult/Fault/ResultNotAvailableException"/>
    </operation>
    <operation name="presetAlign">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/presetAlignRequest" message="tns:presetAlign"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/presetAlignResponse" message="tns:presetAlignResponse"/>
      <fault message="tns:UnsupportedRuntimeException" name="UnsupportedRuntimeException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/presetAlign/Fault/UnsupportedRuntimeException"/>
      <fault message="tns:LimitExceededException" name="LimitExceededException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/presetAlign/Fault/LimitExceededException"/>
      <fault message="tns:JobSubmissionException" name="JobSubmissionException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/presetAlign/Fault/JobSubmissionException"/>
      <fault message="tns:WrongParameterException" name="WrongParameterException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/presetAlign/Fault/WrongParameterException"/>
    </operation>
    <operation name="customAlign">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/customAlignRequest" message="tns:customAlign"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/customAlignResponse" message="tns:customAlignResponse"/>
      <fault message="tns:UnsupportedRuntimeException" name="UnsupportedRuntimeException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/customAlign/Fault/UnsupportedRuntimeException"/>
      <fault message="tns:LimitExceededException" name="LimitExceededException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/customAlign/Fault/LimitExceededException"/>
      <fault message="tns:JobSubmissionException" name="JobSubmissionException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/customAlign/Fault/JobSubmissionException"/>
      <fault message="tns:WrongParameterException" name="WrongParameterException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/customAlign/Fault/WrongParameterException"/>
    </operation>
    <operation name="align">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/alignRequest" message="tns:align"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/alignResponse" message="tns:alignResponse"/>
      <fault message="tns:UnsupportedRuntimeException" name="UnsupportedRuntimeException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/align/Fault/UnsupportedRuntimeException"/>
      <fault message="tns:LimitExceededException" name="LimitExceededException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/align/Fault/LimitExceededException"/>
      <fault message="tns:JobSubmissionException" name="JobSubmissionException" wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/align/Fault/JobSubmissionException"/>
    </operation>
    <operation name="cancelJob">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/cancelJobRequest" message="tns:cancelJob"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/cancelJobResponse" message="tns:cancelJobResponse"/>
    </operation>
    <operation name="pullExecStatistics">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/pullExecStatisticsRequest" message="tns:pullExecStatistics"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/pullExecStatisticsResponse" message="tns:pullExecStatisticsResponse"/>
    </operation>
    <operation name="getJobStatus">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getJobStatusRequest" message="tns:getJobStatus"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getJobStatusResponse" message="tns:getJobStatusResponse"/>
    </operation>
    <operation name="getLimit">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getLimitRequest" message="tns:getLimit"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getLimitResponse" message="tns:getLimitResponse"/>
    </operation>
    <operation name="getLimits">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getLimitsRequest" message="tns:getLimits"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getLimitsResponse" message="tns:getLimitsResponse"/>
    </operation>
    <operation name="getPresets">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getPresetsRequest" message="tns:getPresets"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getPresetsResponse" message="tns:getPresetsResponse"/>
    </operation>
    <operation name="getRunnerOptions">
      <input wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getRunnerOptionsRequest" message="tns:getRunnerOptions"/>
      <output wsam:Action="http://msa.data.compbio/01/01/2010/MsaWS/getRunnerOptionsResponse" message="tns:getRunnerOptionsResponse"/>
    </operation>
  </portType>
  <binding name="ClustalWSPortBinding" type="tns:MsaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getResult">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ResultNotAvailableException">
        <soap:fault name="ResultNotAvailableException" use="literal"/>
      </fault>
    </operation>
    <operation name="presetAlign">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UnsupportedRuntimeException">
        <soap:fault name="UnsupportedRuntimeException" use="literal"/>
      </fault>
      <fault name="LimitExceededException">
        <soap:fault name="LimitExceededException" use="literal"/>
      </fault>
      <fault name="JobSubmissionException">
        <soap:fault name="JobSubmissionException" use="literal"/>
      </fault>
      <fault name="WrongParameterException">
        <soap:fault name="WrongParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="customAlign">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UnsupportedRuntimeException">
        <soap:fault name="UnsupportedRuntimeException" use="literal"/>
      </fault>
      <fault name="LimitExceededException">
        <soap:fault name="LimitExceededException" use="literal"/>
      </fault>
      <fault name="JobSubmissionException">
        <soap:fault name="JobSubmissionException" use="literal"/>
      </fault>
      <fault name="WrongParameterException">
        <soap:fault name="WrongParameterException" use="literal"/>
      </fault>
    </operation>
    <operation name="align">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="UnsupportedRuntimeException">
        <soap:fault name="UnsupportedRuntimeException" use="literal"/>
      </fault>
      <fault name="LimitExceededException">
        <soap:fault name="LimitExceededException" use="literal"/>
      </fault>
      <fault name="JobSubmissionException">
        <soap:fault name="JobSubmissionException" use="literal"/>
      </fault>
    </operation>
    <operation name="cancelJob">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="pullExecStatistics">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getJobStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLimit">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLimits">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPresets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getRunnerOptions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ClustalWS">
    <port name="ClustalWSPort" binding="tns:ClustalWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

