jabaws/webservices/compbio/ws/server/resource/RegistryWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<definitions targetNamespace="http://msa.data.compbio/01/12/2010/" name="RegistryWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://msa.data.compbio/01/12/2010/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://msa.data.compbio/01/12/2010/" schemaLocation="RegistryWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getSupportedServices">
    <part name="parameters" element="tns:getSupportedServices"/>
  </message>
  <message name="getSupportedServicesResponse">
    <part name="parameters" element="tns:getSupportedServicesResponse"/>
  </message>
  <message name="testAllServices">
    <part name="parameters" element="tns:testAllServices"/>
  </message>
  <message name="testAllServicesResponse">
    <part name="parameters" element="tns:testAllServicesResponse"/>
  </message>
  <message name="getLastTested">
    <part name="parameters" element="tns:getLastTested"/>
  </message>
  <message name="getLastTestedResponse">
    <part name="parameters" element="tns:getLastTestedResponse"/>
  </message>
  <message name="getLastTestedOn">
    <part name="parameters" element="tns:getLastTestedOn"/>
  </message>
  <message name="getLastTestedOnResponse">
    <part name="parameters" element="tns:getLastTestedOnResponse"/>
  </message>
  <message name="testService">
    <part name="parameters" element="tns:testService"/>
  </message>
  <message name="testServiceResponse">
    <part name="parameters" element="tns:testServiceResponse"/>
  </message>
  <message name="isOperating">
    <part name="parameters" element="tns:isOperating"/>
  </message>
  <message name="isOperatingResponse">
    <part name="parameters" element="tns:isOperatingResponse"/>
  </message>
  <portType name="RegistryWS">
    <operation name="getSupportedServices">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/getSupportedServicesRequest" message="tns:getSupportedServices"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/getSupportedServicesResponse" message="tns:getSupportedServicesResponse"/>
    </operation>
    <operation name="testAllServices">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/testAllServicesRequest" message="tns:testAllServices"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/testAllServicesResponse" message="tns:testAllServicesResponse"/>
    </operation>
    <operation name="getLastTested">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/getLastTestedRequest" message="tns:getLastTested"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/getLastTestedResponse" message="tns:getLastTestedResponse"/>
    </operation>
    <operation name="getLastTestedOn">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/getLastTestedOnRequest" message="tns:getLastTestedOn"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/getLastTestedOnResponse" message="tns:getLastTestedOnResponse"/>
    </operation>
    <operation name="testService">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/testServiceRequest" message="tns:testService"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/testServiceResponse" message="tns:testServiceResponse"/>
    </operation>
    <operation name="isOperating">
      <input wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/isOperatingRequest" message="tns:isOperating"/>
      <output wsam:Action="http://msa.data.compbio/01/12/2010/RegistryWS/isOperatingResponse" message="tns:isOperatingResponse"/>
    </operation>
  </portType>
  <binding name="RegistryWSPortBinding" type="tns:RegistryWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getSupportedServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testAllServices">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLastTested">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLastTestedOn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testService">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isOperating">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RegistryWS">
    <port name="RegistryWSPort" binding="tns:RegistryWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

